

/* Start:/bitrix/templates/.default/components/bitrix/system.auth.form/auth1/style.min.css?1547822944424*/
div.bx-system-auth-form span.bx-auth-secure{background-color:#fffae3;border:1px solid #dedbc8;padding:2px;display:inline-block;vertical-align:bottom;margin-top:-1px}div.bx-system-auth-form div.bx-auth-secure-icon{background-image:url(/bitrix/templates/.default/components/bitrix/system.auth.form/auth1/images/sec.png);background-repeat:no-repeat;background-position:center;width:19px;height:18px}div.bx-system-auth-form div.bx-auth-secure-unlock{background-image:url(/bitrix/templates/.default/components/bitrix/system.auth.form/auth1/images/sec-unlocked.png)}
/* End */


/* Start:/bitrix/templates/.default/components/bitrix/news.list/slider/style.css?1547822944150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/.default/components/bitrix/news.list/reviews_slider/style.css?1547822944150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/.default/components/bitrix/menu/about_shop/style.min.css?1547822944490*/
ul.left-menu{list-style:none;margin:0;padding:0;margin-bottom:8px;position:relative}ul.left-menu li{padding:10px 16px;background:#f5f5f5 url(/bitrix/templates/.default/components/bitrix/menu/about_shop/images/left_menu_bg.gif) top repeat-x}ul.left-menu li a{font-size:100%;color:#bc262c;font-weight:bold;text-decoration:none}ul.left-menu li a:visited{color:#bc262c}ul.left-menu li a:hover{color:#bc262c}ul.left-menu li a.selected:link,ul.left-menu li a.selected:visited,ul.left-menu li a.selected:active,ul.left-menu li a.selected:hover{color:#fc8d3d}
/* End */
/* /bitrix/templates/.default/components/bitrix/system.auth.form/auth1/style.min.css?1547822944424 */
/* /bitrix/templates/.default/components/bitrix/news.list/slider/style.css?1547822944150 */
/* /bitrix/templates/.default/components/bitrix/news.list/reviews_slider/style.css?1547822944150 */
/* /bitrix/templates/.default/components/bitrix/menu/about_shop/style.min.css?1547822944490 */
